
build*/
.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
nbproject/*
.idea/*
.browse.VC*
.vscode
cmake-build-*/*
.vs
*.user
TODO.txt
Databases.txt

local/
local.env
local/.cache/
sql/base/
sql/updates/
sql/create/
sql/custom/
sql/old/
sql/archive/
sql/Databases/
